h1 {
  text-align: center;
  color: darkblue;
  font-style: oblique;
  font-family: fantasy;
  font-weight: bold;
  text-decoration: underline;
}
img {
  float: right;
}
h4 {
  color: blue
}
.important{
  text-align: center;
}
